<ul class="nav-menu" nz-menu nzMode="horizontal">
  <li nz-menu-item (click)="logout()">
    <i nz-icon nzType="user"></i>
    Logout
  </li>
</ul>
<div nz-row style="margin: 25px">
  <a target="_blank" href="https://ng.ant.design/components/overview/en"
    >Here are your NgZorro building blocks</a
  >
</div>
<div nz-row style="margin: 25px">
  If your api is running, the docs are found
  <a target="_blank" href="http://localhost:3000/docs">&nbsp;here.</a> You can
  get the routes of the endpoints and try them out using the swagger gui!
</div>
<div nz-row>
  <ol>
    <li>
      Build a view for seeing locations to eat at.
      <ul>
        <li>
          The view must include a table with fields for the location name,
          address, dfo (distance from office) and action buttons.
          <a
            target="_blank"
            href="https://ng.ant.design/components/table/en#ng-content"
            >Docs</a
          >
        </li>
        <li>
          The action buttons should be icons for edit and delete. They do not
          have to be functional for the sake of this exercise.
        </li>
      </ul>
    </li>
    <li>
      We love trying new places, so we will need a form that can submit a new
      location and have it show up in the table
      <ul>
        <li>Put an "Add Location" button right aligned above the table</li>
        <li>
          When the button is clicked, have it pop open a modal that could be
          used to add a new location
          <a
            target="_blank"
            href="https://ng.ant.design/components/modal/en#ng-content"
            >Docs</a
          >
        </li>
      </ul>
    </li>
    <li>
      <strong>Bonus!!!</strong> The Appsky team has trouble deciding, so make a
      button that will return a random location for extra credit! Get even more
      extra credit if you get the random location from an api endpoint!
    </li>
    <li>
      If you still haven't had enough, make the edit and delete buttons
      functional.
    </li>
  </ol>
</div>
